$y: 0.8rem;
$x: 1rem;
$radius: 20px;

$black: #1f1f28;
$gray: #9399b2;
$red: #c34043;
$green: #76946a;
$yellow: #e6c384;
$blue: #7e9cd8;
$magenta: #957fb8;
$cyan: #7e9cd8;
$fg: #cdd6f4;

* {
  all: unset;
  font-family: "Cartograph CF";
}

.test {
  background-color: #98bb6c;
  border-radius: $radius;
}

progressbar trough,
scale trough {
  all: unset;
  border-radius: 15px;
  min-height: 5px;
  min-width: 30px;

  progress {
    border-radius: 15px;
    min-height: 5px;
    border-radius: 15px;
    background-color: $green;
  }
}

.subtext {
  font-size: 0.8rem;
  color: $fg;
}

.player__control {
  background-color: $green;
  // border-radius: $radius;
  padding: 0 $x 0 $x;
  font-size: 1.4rem;
  color: $black;
}

.player__control:nth-child(1) {
  margin: 0 $x / 2 0 $x / 2;
}

.player__infos {
  margin-right: $x;
}

.image {
  margin-right: $x;
}

.bar {
  // border: 2px solid $gray;
  // background-color: rgba($color: $black, $alpha: 0.2);
  // padding-bottom: $y / 2;
  // padding-top: $y / 2;
  background-color: rgba($color: $black, $alpha: 0.40);
  // border: 2px solid $gray;
// border-radius: 8px;
}

.dock {
  // background-color: $black;
  // border-radius: $radius;
  padding-top: $y / 2;
  padding-bottom: $y / 2;
  margin-left: $x;
  margin-right: $x;
  padding-left: $x;
  padding-right: $x;
}

.chip {
  // border-radius: $radius;
  background-color: $blue;
  color: $black;
  padding-top: $y / 4;
  padding-bottom: $y / 4;

  padding-right: $x / 2;
  margin-left: $x;
}

.status {
  @extend .dock;
  margin-right: 10px;
  &__workspace {
    font-size: 1.2rem;
    margin-right: $x / 2;
    margin-left: $x / 2;
    &.active {
      color: $magenta;
    }
  }
}

.time__icon {
  font-size: 2rem;
  margin-right: $x * 2;
  color: $green;
}

.launcher {
  margin-left: $x;
  margin-right: $x * 1.4;
  font-size: 2rem;
  color: $magenta;
}

.icon {
  margin-left: $x;
  margin-right: $x;
  font-size: 1.4rem;
}

.stat {
  margin-left: $x / 2;
  margin-right: $x / 2;
}
