* {
  font-family: "Monaspace Radon";
}

button {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}

image {
  font-size: 20px;
}

scale {
  contents {
    min-width: 100px;

    trough {
      min-height: 10px;
      border-radius: 20px;

      highlight {
        background: none;
        background-color: red;
        border-radius: 20px;
      }

      slider {
        min-height: 1px;
        min-width: 1px;
        box-shadow: none;
        background-color: transparent;
      }
    }
  }
}

.battery {
  font-size: 6px;
}

.bar {
  background-color: rgba(25, 27, 41, 0.85);
}

.outer_padding {
  margin-left: 10px;
  margin-right: 10px;
  min-height: 50px;
}

.workspaces {
  margin-right: 20px;
}

.workspace {
  &.active {
    background-color: red;
    padding-left: 10px;
    padding-right: 10px;
  }

  &.empty {
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    opacity: 0.6;
  }

  border-radius: 20px;
  padding: 5px;
  padding-right: 5px;

  background-color: white;

  transition:
    padding-left ease-in-out 300ms,
    background-color ease-in-out 200ms;
}

.media_player {
  .button {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
  }

  .title {
    font-size: 12px;
  }

  .artists {
    font-size: 10px;
    opacity: 0.6;
  }
}
